src/main/resources/template/pectabs.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="pectabs">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="pectab"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="pectab">
    <xs:complexType mixed="true">
      <xs:attribute name="type" use="required" type="xs:NCName"/>
      <xs:attribute name="version" use="required" type="xs:decimal"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
